@import url('https://fonts.googleapis.com/css2?family=Sixtyfour&display=swap');
@import 'tailwindcss';

html {
  @apply text-white;
  font-family: 'Sixtyfour', sans-serif;
  scrollbar-color: var(--color-gray-500) transparent;
}

#root {
  @apply px-5 py-8 flex justify-center sm:max-h-screen;
}

input {
  @apply border border-gray-500 rounded py-1 px-3 text-center h-[42px] min-w-[42px] hover:brightness-75 transition duration-200;

  &::placeholder {
    @apply text-center;
  }
}

button {
  @apply text-shadow-lg p-2 bg-sky-600 rounded hover:bg-sky-700 active:bg-sky-800 transition duration-200;
}

button.transparent {
  @apply bg-transparent hover:bg-transparent hover:brightness-75;
}

button.danger {
  @apply bg-rose-500 hover:bg-rose-700 active:bg-rose-800;
}

button.success {
  @apply bg-emerald-500 hover:bg-emerald-600 active:bg-emerald-700;
}

hr {
  @apply border-sky-800;
}

#stats-tooltip {
  @apply text-gray-300 p-3 z-10 rounded-md max-w-sm bg-[#161625];
}

@theme {
  --animate-bounce-and-drop: bounce-and-drop 0.6s ease-in-out forwards;
  @keyframes bounce-and-drop {
    0% {
      transform: translateY(0) scale(1);
      opacity: 1;
    }
    20% {
      transform: translateY(-40px) scale(1.25);
    }
    100% {
      transform: translateY(130vh) scale(0.25);
      opacity: 0;
    }
  }
}

.star-green {
  filter: brightness(50%) sepia(100%) saturate(10000%) hue-rotate(150deg);
}

.star-red {
  filter: brightness(50%) sepia(100%) saturate(10000%);
}
