@import 'tailwindcss';

@font-face {
  font-family: 'Sixtyfour';
  src: url('/Sixtyfour-Regular-VariableFont_BLED,SCAN.ttf');
}

html {
  @apply text-white;
  font-family: 'Sixtyfour', sans-serif;
  scrollbar-color: var(--color-gray-500) transparent;
}

#root {
  @apply flex h-screen justify-center px-5 py-8 sm:max-h-screen;
}

input {
  @apply h-[42px] min-w-[42px] rounded border border-sky-800 px-3 py-1 text-center transition duration-200 hover:brightness-75;

  &::placeholder {
    @apply text-center;
  }

  &::-webkit-search-cancel-button {
    @apply -mr-1 h-9 w-7 appearance-none;
    background: url('/x-circle.svg') no-repeat center;
  }
}

button {
  @apply rounded bg-sky-600 p-2 transition duration-200 text-shadow-lg;

  &:not(:disabled) {
    @apply hover:bg-sky-700 active:bg-sky-800;
  }

  &:disabled {
    @apply opacity-25;
  }
}

button.transparent {
  @apply bg-transparent;

  &:not(:disabled) {
    @apply hover:bg-transparent hover:brightness-75;
  }
}

button.danger {
  @apply bg-rose-500;

  &:not(:disabled) {
    @apply hover:bg-rose-700 active:bg-rose-800;
  }
}

button.success {
  @apply bg-emerald-500;

  &:not(:disabled) {
    @apply hover:bg-emerald-600 active:bg-emerald-700;
  }
}

button.card:disabled {
  @apply opacity-80;
}

hr {
  @apply border-sky-800;
}

#stats-tooltip {
  @apply z-10 max-w-sm rounded-md p-0 text-gray-300;
}

@theme {
  --animate-bounce-and-drop: bounce-and-drop 0.6s ease-in-out forwards;
  @keyframes bounce-and-drop {
    0% {
      transform: translateY(0) scale(1);
      opacity: 1;
    }
    20% {
      transform: translateY(-40px) scale(1.25);
    }
    100% {
      transform: translateY(130vh) scale(0.25);
      opacity: 0;
    }
  }
}

.star-green {
  filter: brightness(90.35%) sepia(100%) saturate(50000%) hue-rotate(60deg);
}

.star-red {
  filter: brightness(50%) sepia(100%) saturate(10000%);
}
